html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*-----------------------------------------------------------*/
table.first {
border-collapse: separate;
border: 2px solid black;
}
table.first th, table.first td {
border: 2px solid blue;
}
table.first tr:nth-child(odd) {
background-color: lightblue;
}
/*-----------------------------------------------------------*/
table.second {
border-collapse: collapse;
border: 2px solid purple;
caption-side: bottom;
}
table.second th {
background-color: salmon;
}
table.second th, table.second td {
padding: 0.7em;
vertical-align: middle;
border: 2px solid purple;
}
table.second thead tr:first-child{
border-bottom: 2px solid purple;
}
table.third {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
    border-top: 4px solid orangered;
    border-bottom: 4px solid orangered;
}


table.third thead tr.title {
    background-color: lightgreen;
    font-weight: bold;
    border-bottom: 2px solid black;
}


table.third thead tr.headers {
    background-color: #c2f5a8; 
    font-weight: bold;
    border-bottom: 2px solid black;
}


table.third th,
table.third td {
    padding: 0.5em 0.8em;
    border-bottom: 1px solid black;
}


table.third td.number {
    vertical-align: top;
    font-weight: bold;
}


table.third tbody tr:last-child td {
    border-bottom: none;
}


@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }
    thead, td.number {
        display: none;
        padding: 0;
    }
}