html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*-----------------------------------------------------------*/
table.first {
border-collapse: separate;
border: 2px solid black;
}
table.first th, table.first td {
border: 2px solid blue;
}
table.first tr:nth-child(odd) {
background-color: lightblue;
}
/*-----------------------------------------------------------*/
table.second {
border-collapse: collapse;
border: 2px solid purple;
caption-side: bottom;
}
table.second th {
background-color: salmon;
}
table.second th, table.second td {
padding: 0.7em;
vertical-align: middle;
border: 2px solid purple;
}
table.second thead tr:first-child{
border-bottom: 2px solid purple;
}
table.third {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
    border: 2px solid orangered;
}

table.third thead tr:first-child {
    background-color: peachpuff;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
}

table.third thead tr:nth-child(2) {
    background-color: lightyellow;
    border-bottom: 2px solid orangered;
}

table.third th,
table.third td {
    border: 2px solid orangered;
    padding: 0.7em;
}

table.third td.number {
    vertical-align: top;
    font-weight: bold;
}


table.third tbody tr:last-child {
    border-bottom: 2px solid orangered;
}


@media only screen and (max-width: 425px) {
    table.third th,
    table.third td {
        display: block;
    }

    thead,
    td.number {
        display: none;
        padding: 0;
    }
}